<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RYOUSHI</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://use.fontawesome.com/releases/v5.12.1/css/all.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/modern-css-reset/dist/reset.min.css"
    />
    <link rel="stylesheet" href="static/css/style.css" />
  </head>
  <body>
    <header>
      <div class="header_title">
        <h1>予約</h1>
      </div>
    </header>
    <main>
      <div class="inner">
        <section>
          <div class="page_title">
            <h2>プランを選択</h2>
          </div>
        </section>
        <section>
          <ul>
            <li>
              <a href="/date">
                <div class="link_to_date" ontouchstart="">
                  <div>
                    <img src="static/images/honmaguro.png" alt="本マグロ" />
                  </div>
                  <div class="course_detail">
                    <h3>マグロ漁レッスン</h3>
                    <p>
                      座学付きで初めての人にも安心のレッスン。<br />マグロ漁船にも乗船できて、プロの漁師の技を体験できます。漁師仲間もできて人気のレッスンです。
                    </p>
                    <div class="course_contents">
                      <p><i class="fas fa-yen-sign"></i>20,000</p>
                      <p><i class="far fa-clock"></i>2:00 - 8:00</p>
                    </div>
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a href="/date">
                <div class="link_to_date" ontouchstart="">
                  <div>
                    <img src="static/images/airmaguro.png" alt="エアマグロ" />
                  </div>
                  <div class="course_detail">
                    <h3>エアマグロ漁レッスン</h3>
                    <p>
                      船酔いが心配な人におすすめのレッスン。<br />カリスマ漁師が手取り足取りプロの技を伝授します。<br />※マグロはダミー模型にてレッスンします。
                    </p>
                    <div class="course_contents">
                      <p><i class="fas fa-yen-sign"></i>10,000</p>
                      <p><i class="far fa-clock"></i>13:00 - 17:00</p>
                    </div>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </section>
      </div>
    </main>
  </body>
</html>
