<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RYOUSHI</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/modern-css-reset/dist/reset.min.css" />
    <link rel="stylesheet" href="static/css/style.css" />
</head>

<body>
    <header>
        <div class="header_title">
            <h1>予約</h1>
        </div>
    </header>
    <main>
        <div class="inner">
            <section>
                <div class="current_selection">
                    <p class="course_name">{{ plan }}</p>
                    <div class="course_contents">
                        <p><i class="fas fa-yen-sign"></i>{{ price }}</p>
                        <p><i class="far fa-clock"></i>{{ reservation_time }}</p>
                    </div>
                </div>
            </section>
            <section>
                <div class="page_title">
                    <h2>日付を選択</h2>
                </div>
                <form action="/finalpost" method="POST">
                <div class="calender">
                    <label for="start">Start date:</label>
                    <input type="date" id="start" name="trip-start" value="2020-08-23" min="2020-08-23" max="2021-08-23">
                </div>
                <button class="button" type="submit" ontouchstart="">この内容で予約する</button>
        </div>
        </section>
        </div>
    </main>
</body>

</html>