<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RYOUSHI</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://use.fontawesome.com/releases/v5.12.1/css/all.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/modern-css-reset/dist/reset.min.css"
    />
    <link rel="stylesheet" href="static/css/style.css" />
  </head>
  <body>
    <header>
      <div class="header_title">
        <h1>予約</h1>
      </div>
    </header>
    <main>
      <div class="inner">
        <section>
          <div class="page_title">
            <h2>ご予約内容の最終確認</h2>
          </div>
          <div class="fishon">
            <img src="images/kajikimaguro.png" alt="Fish on!" />
          </div>
        </section>
        <section>
          <div class="current_selection">
            <dl class="flex_area final_selection">
              <dt>講師</dt>
              <dd>カリスマ漁師</dd>
            </dl>
            <dl class="flex_area final_selection ml32">
              <dt>プラン</dt>
              <dd>マグロ漁レッスン</dd>
            </dl>
            <dl class="flex_area final_selection">
              <dt>日付</dt>
              <dd>2020 / 08 / 17</dd>
            </dl>
            <dl class="flex_area final_selection ml32">
              <dt>時間帯</dt>
              <dd>2:00 - 8:00</dd>
            </dl>
            <dl class="flex_area final_selection mb0">
              <dt>料金</dt>
              <dd>20,000 円</dd>
            </dl>
          </div>
          <button class="button" ontouchstart="">この内容で予約する</button>
        </section>
      </div>
    </main>
  </body>
</html>
