<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RYOUSHI</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&display=swap" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/modern-css-reset/dist/reset.min.css" />
    <link rel="stylesheet" href="static/css/style.css" />
</head>

<body>
    <header>
        <div class="header_title">
            <h1>予約</h1>
        </div>
    </header>
    <main>
        <div class="inner">
            <section>
                <div class="page_title">
                    <h2>講師を選択</h2>
                </div>
            </section>
            <section>
                <ul>
                    <li>
                        <a href="/sumoguri">
                            <div class="flex_area link_to_course border_top" ontouchstart="">
                                <div>
                                    <img src="static/images/sumoguri.png" alt="素潜りの達人" />
                                </div>
                                <div class="coach_text">
                                    <p>素潜りの達人</p>
                                    <span>マグロは友達。鍛えた身体でマグロと同じスピードで泳ぐ。道具はモリ。</span
                    >
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a href="/urashima">
                <div class="flex_area link_to_course" ontouchstart="">
                  <div>
                    <img src="static/images/urashima.png" alt="釣りの仙人" />
                  </div>
                  <div class="coach_text">
                    <p>釣りの仙人</p>
                    <span
                      >1本釣でマグロを釣るのが得意。相棒の亀丸に乗り込み1000年以上毎日出港。</span
                    >
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a href="/ryoushi">
                <div class="flex_area link_to_course" ontouchstart="">
                  <div>
                    <img src="static/images/ryoushi.png" alt="カリスマ漁師" />
                  </div>
                  <div class="coach_text">
                    <p>カリスマ漁師</p>
                    <span
                      >マグロ漁一筋20年。マグロはチーム戦。彼の熱いマインドを慕う漁師多数。</span
                    >
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </section>
      </div>
    </main>
  </body>
</html>